.flag{
    width:500px;
    height:250px;
    background-color:rgb(0, 0, 255);
    position: relative;
    
}   

.tree{
    background: url("http://www.clker.com/cliparts/w/9/2/r/C/V/white-palmetto-moon-md.png") no-repeat center 100%/100%;
    height:150px;
    width:200px;
    position:absolute;
    top:100px;
    left:50px;
}